/* Header */
body {
    font-family: 'Roboto', sans-serif;
    padding-top: 11%; 
}

header {
    background-color: #FFEFE7;
    padding: 10px 15px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: auto; 
    z-index: 1000;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Distribui o espaço entre os itens */
    flex-wrap: nowrap; /* Evita quebra de linha inicial */
}

header img {
    width: 14%;
    height: auto;
    margin-left: 0; /* Removida a margem */
}

header nav {
    display: flex;
    align-items: center;
    gap: 20px; /* Espaçamento entre os links reduzido para responsividade */
    margin-left: 0; /* Removida a margem negativa */
    flex-wrap: nowrap; /* Evita quebra de linha inicial */
}

header nav a {
    font-weight: bolder;
    font-size: 100%; /* Tamanho de fonte ajustado para responsividade */
    text-decoration: none;
    color: #72311A;
}

header nav a:hover {
    color: blue;
    text-decoration: none;
}

.whatsapp-button {
    display: flex;
    align-items: center;
    background-color: #25D366; /* Verde do WhatsApp */
    color: white;
    padding: 10px 20px;
    border-radius: 25px; /* Borda arredondada */
    text-decoration: none;
    font-weight: bold;
    font-size: 100%; /* Tamanho de fonte ajustado para responsividade */
}

.whatsapp-button svg {
    margin-right: 10px;
}

.whatsapp-button:hover {
    background-color: #128C7E; /* Cor verde escura no hover */
    text-decoration: none;
}

@media (max-width: 1024px) {
    header img {
        width: 20%; /* Ajuste o tamanho da logo em telas menores */
    }
    
    header nav {
        gap: 15px; /* Reduzir espaço entre links */
    }
}

@media (max-width: 768px) {
    .header {
        flex-direction: column; /* Muda a direção para coluna em telas menores */
        align-items: center;
    }
    
    header img {
        width: 30%; /* Ajuste o tamanho da logo em telas menores */
        margin-bottom: 10px; /* Adicionar espaçamento abaixo da logo */
    }

    header nav {
        flex-direction: column; /* Muda a direção para coluna em telas menores */
        align-items: center;
        gap: 10px; /* Reduzir espaço entre links */
    }

    .whatsapp-button {
        width: 100%; /* Botão ocupará toda a largura */
        justify-content: center;
        padding: 10px; /* Ajustar padding */
        margin-top: 10px; /* Espaçamento acima do botão */
    }
}

@media (max-width: 480px) {
    header img {
        width: 40%; /* Ajuste o tamanho da logo em telas menores */
    }
    
    header nav a {
        font-size: 90%; /* Reduzir tamanho da fonte em telas menores */
    }
    
    .whatsapp-button {
        font-size: 90%; /* Reduzir tamanho da fonte em telas menores */
    }
}

/* Footer */
.site-footer {
    background-color: #26272b;
    padding: 45px 0 20px;
    font-size: 15px;
    line-height: 24px;
    color: #737373;
}

.site-footer hr {
    border-top-color: #bbb;
    opacity: 0.5;
}

.site-footer hr.small {
    margin: 20px 0;
}

.site-footer h6 {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 5px;
    letter-spacing: 2px;
}

.site-footer a {
    color: #737373;
}

.site-footer a:hover {
    color: #3366cc;
    text-decoration: none;
}

.footer-links {
    padding-left: 0;
    list-style: none;
}

.footer-links li {
    display: block;
}

.footer-links a {
    color: #737373;
}

.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
    color: #3366cc;
    text-decoration: none;
}

.footer-links.inline li {
    display: inline-block;
}

.site-footer .social-icons {
    text-align: right;
}

.site-footer .social-icons a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin-left: 6px;
    margin-right: 0;
    border-radius: 100%;
    background-color: #33353d;
}

.copyright-text {
    margin: 0;
}

@media (max-width: 991px) {
    .site-footer [class^=col-] {
        margin-bottom: 30px;
    }
}

@media (max-width: 767px) {
    .site-footer {
        padding-bottom: 0;
    }
    .site-footer .copyright-text,
    .site-footer .social-icons {
        text-align: center;
    }
}

.social-icons {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.social-icons li {
    display: inline-block;
    margin-bottom: 4px;
}

.social-icons li.title {
    margin-right: 15px;
    text-transform: uppercase;
    color: #96a2b2;
    font-weight: 700;
    font-size: 13px;
}

.social-icons a {
    background-color: #eceeef;
    color: #818a91;
    font-size: 16px;
    display: inline-block;
    line-height: 44px;
    width: 44px;
    height: 44px;
    text-align: center;
    margin-right: 8px;
    border-radius: 100%;
    transition: all 0.2s linear;
}

.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
    color: #fff;
    background-color: #29aafe;
}

.social-icons a.facebook:hover {
    background-color: #3b5998;
}

.social-icons a.instagram:hover {
    background-color: #e4405f;
}


@media (max-width: 767px) {
    .social-icons li.title {
        display: block;
        margin-right: 0;
        font-weight: 600;
    }
}
